*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(149, 93, 93);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.timerdisplay{
    background-color: black;
    font-size: 55px;
    border: 1px solid black;
    border-radius: 12px;
    padding: 0 73px;

}
.button{
    padding: 17px 52px;
}
.stopbtn{
    font-size: 21px;
    padding: 8px 25px;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 10px;
    cursor: pointer;

}
.startbtn{
    font-size: 21px;
    padding: 8px 25px;
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 10px;
    cursor: pointer;

}
.resetbtn{
    font-size: 21px;
    padding: 8px 25px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 10px;
    cursor: pointer;

}